/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
	case-sensitive: false;
  kb-toggle-case-sensitivity: "grave,dead_grave";
  drun {
    case-sensitive: false;
	}
	matching: "normal";
	tokenize: true;
}
@theme "themes/sidetab-nord.rasi"
